/* VARIABLES */
:root {
    --green: rgb(3, 212, 3);
}

/* RESETS */
body {
    background: rgb(60, 74, 140);
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
 
h3 {margin: 0;
}

a{
    text-decoration: none;
}

/* ANIMATIONS */
@keyframes slide-in {
    from {
        transform: translateX(-300%);
    }

    to {
        transform: translateX(0);
    }
}

/* @keyframes bounce {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
} */

/* CUSTOM STYLES */


header {
    /* Align the direct children on a row left to right*/
    display: flex;
    /* Once you set display: flex, you can align items vertically and horizontally with flexbox properties */
    /* Align items will align the direct children on the y-axis (top to bottom)*/
    align-items: center;
    /*Push the direct children as far as possible, using the space between them (x-axis)*/
    /* justify-content: space-between; */
    background: #1a1a2ce6;
    padding: 25px 7% 20px;
}


header nav {margin-left: 150px;
}

header a {
    color: #e47200;
}

header a:hover, header a.active  {
    text-decoration: underline;
}


header nav a {
     color: #fff;
}

/* Select all links with the nav except the last one */
header nav a:not(:last-child) {
    margin-right: 10px
}
aside a {
    transform: rotate(90deg);
}

main {
    display: flex;
    justify-content: space-between;
    padding: 45px 3% 0 10% ; 
}

section p {
    color: var(--green);
}

section h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 25px;
    animation: slide-in 1s;
}

section button {
    background: none;
    border: 2px solid var(--green);
    padding: 0   0   0   15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .4s ;
}

section button i {
    color: #1a1a2ce6;
    font-size: 1.5rem;
    background: var(--green);
    padding: 10px 15px;
    margin-left: 15px
}

section button:hover {
background: rgb(3, 212, 3);
color: #1a1a2ce6;
transform: translateX(10px);
} 

aside {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    position: relative;
    left: 75px;
}


aside p {
    color: var(--green);
    margin-right: 15px;
}

aside i {
    color: #fff;
    margin-right: 8px;
}